<h1 class="text-3xl font-bold">
  <%= t ".hello" %>
</h1>

<% if current_user %>
  <%= "#{current_user.first_name} #{current_user.last_name}" %>
  <h2><%= current_user.email %></h2>
  <%= image_tag(current_user.avatar) %>
  <%= button_to t("shared.logout"), destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
<% else %>
  <%= link_to t("shared.login"), new_user_session_path %>
<% end %>
