<div class="lg:flex lg:items-center lg:justify-between">
  <div class="mt-4">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight"><%= @office.office_info&.name %></h2>
    <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap sm:space-x-6">
      <div class="mt-2 flex items-center text-sm text-gray-500"><%= @office.office_info&.email %></div>
      <div class="mt-2 flex items-center text-sm text-gray-500"><%= @office.office_info&.address %></div>
      <div class="mt-2 flex items-center text-sm text-gray-500"><%= @office.office_info&.phone_number %></div>
    </div>
  </div>
</div>
<div class="my-4 text-gray-500">
  <%= @office.office_info&.information %>
</div>

<div class="grid grid-cols-4 gap-4 items-center">
  <div class="col-span-3">
    <h2 class="my-6 text-2xl font-semibold text-gray-700">
      <%= t ".list_users" %>
    </h2>
  </div>
  <div>
    <%= link_to new_users_company_office_path, class: "float-right rounded-lg pointer-events-auto bg-indigo-600 px-3 py-2 text-[0.8125rem] font-semibold leading-5 text-white hover:bg-indigo-500" do %>
      <i class="fa-solid fa-plus mr-1 text-xs"></i>
      <span class="font-semibold text-xs"><%= t ".add_users" %></span>
    <% end %>
  </div>
</div>
<div class="w-full overflow-hidden rounded-lg shadow-xs border">
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50">
          <th class="px-4 py-3"><%= t ".user_info" %></th>
          <th class="px-4 py-3"><%= t ".status" %></th>
          <th class="px-4 py-3"><%= t ".action" %></th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y">
        <% @users&.each do |user| %>
          <tr class="text-gray-700">
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                  <%= image_tag avatar_url(user), class: "object-cover w-full h-full rounded-full", loading: "lazy", alt: "" %>
                  <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                </div>
                <div>
                  <p class="font-semibold"><%= user.fullname %></p>
                  <p class="text-xs text-gray-600"><%= user.email %></p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-xs">
              <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full">
                <%= user.status %>
              </span>
            </td>
            <td class="px-4 py-3 text-sm"></td>
          </tr>
        <% end %>
        <tr class="text-gray-700">
          <td class="px-4 py-3 text-sm text-right" colspan="3"><%= pagy_nav(@pagy).html_safe %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
