<div class="w-full overflow-hidden rounded-lg shadow-xs border">
  <div class="w-full">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-800 uppercase border-b bg-gray-50">
          <% if action_name == "import" %>
            <th class="px-4 py-3"><%= t ".id"%></th>
          <% end %>
          <th class="px-4 py-3"><%= t ".id"%></th>
          <th class="px-4 py-3"><%= t ".name" %></th>
          <th class="px-4 py-3"><%= t ".code" %></th>
          <th class="px-4 py-3"><%= t ".status" %></th>
          <th class="px-4 py-3"><%= t ".brand" %></th>
          <th class="px-4 py-3"><%= t ".office" %></th>
          <th class="px-4 py-3"><%= t ".input_date" %></th>
          <% unless action_name == "import" %>
          <th class="px-4 py-3"><%= t ".action" %></th>
          <% end %>
        </tr>
      </thead>
      <tbody is="turbo-frame" class="bg-white divide-y" id="devices">
        <%= render @devices %>
        <tr class="text-gray-700">
          <% if @pagy.present? %>
            <td class="px-4 py-3 text-sm text-right" colspan="8"><%= pagy_nav(@pagy).html_safe %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% if action_name == "import" && devices.any? %>
  <%= submit_tag t(".submit"), class:"text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 my-2"%>
<% end %>
