<div class="lg:grid gap-6 my-4 mx-[-5px] lg:grid-cols-12 sm:grid-cols-1">
  <div class="grid lg:col-span-8 gap-7">
    <div class="bg-white p-8 grid lg:grid-cols-12 sm gap-2:grid-cols-5 shadow rounded-md rounded-tl-2xl">
      <div class="lg:col-span-4 sm:col-span-12 p-4 relative">
        <%= link_to new_images_device_device_path, data: {turbo_frame: :global_modal, action: "click->app#openModal"}, class: "absolute bottom-[-15px] left-[-10px] pointer-events-auto text-indigo-700" do %>
          <i class="fa-solid fa-plus mr-1 text-sm"></i>
          <span class="font-bold text-sm"><%= t ".add_images" %></span>
        <% end %>
        <%= turbo_frame_tag :images_device do %>
          <%= render "devices/images_device/item", images_device: @device.images %>
        <% end %>
      </div>
      <div class="lg:col-span-8 sm:col-span-12 relative">
        <h2 class="text-xl font-medium"><%= @device.name %><h2>
        <div class="text-gray-500 mb-4 mt-2 text-sm">
          <%= t ".code" %><%= @device.code %>
          <span class="ml-4 mr-4">|</span>
          <%= t ".price" %><%= @device.price %>
          <span class="ml-4 mr-4">|</span> 
          <%= t ".brand" %> <%= @device.brand&.name || "No brand" %>
          <span class="ml-4 mr-4">|</span>
          <%= t ".category" %>: <%= @device.category&.name || "No category" %>
        </div>
        <h2 class="text-xl font-medium mb-2"><%= t ".description" %><h2>
        <div class="text-gray-500 text-sm">
          <%= @device.description %>
        </div>
        <div class="absolute top-[-20px] right-[-20px] px-2 py-2 font-semibold leading-tight text-indigo-600 bg-indigo-100 rounded-full w-36 text-center text-sm">
          <%= Device.human_enum_name :status, @device.status %>
        </div>
      </div>
    </div>
    <div class="bg-white p-5 shadow rounded-md rounded-bl-2xl">
      <div class="grid grid-cols-4 items-center">
        <div class="col-span-3">
          <h2 class="text-xl font-medium mb-2"><%= t ".usage_history" %><h2>
        </div>
        <div>
          <%= link_to new_user_device_path(device_id: @device.id), data: {turbo_frame: :global_modal, action: "click->app#openModal"}, class: "float-right pointer-events-auto text-indigo-700" do %>
            <i class="fa-solid fa-plus mr-1 text-sm"></i>
            <span class="font-bold text-sm"><%= t ".add_new" %></span>
          <% end %>
        </div>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-3 sm:mt-0">
          <%= turbo_frame_tag "user_devices" do %>
            <ul role="list">
              <% @device.user_devices.each do |user_device| %>
                <%= render "user_devices/new_user_device", user_device: user_device  %>
              <% end %>
            </ul>
          <% end %>
        </dd>
      </div>
    </div>
  </div>
  <div class="grid lg:col-span-4 gap-7">
    <div class="bg-white p-5 shadow rounded-md rounded-tr-2xl">
      <div class="grid grid-cols-4 items-center">
        <div class="col-span-3">
          <h2 class="text-xl font-medium mb-2"><%= t ".related_devices" %><h2>
        </div>
        <div>
          <%= link_to new_sub_devices_device_path(id: @device.id), data: {turbo_frame: :global_modal, action: "click->app#openModal"}, class: "float-right pointer-events-auto text-indigo-700" do %>
            <i class="fa-solid fa-plus mr-1 text-sm"></i>
            <span class="font-bold text-sm"><%= t ".add_new" %></span>
          <% end %>
        </div>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-3 sm:mt-0">
          <%= turbo_frame_tag "sub_devices" do %>
            <ul role="list">
              <% @device.sub_devices.order(updated_at: :desc).each do |sub_device| %>
                <%= render "devices/sub_devices/item", sub_device: sub_device %>
              <% end %>
            </ul>
          <% end %>
        </dd>
      </div>
    </div>
    <div class="bg-white p-5 shadow rounded-md rounded-br-2xl">  
      <div class="grid grid-cols-4 items-center">
        <div class="col-span-3">
          <h2 class="text-xl font-medium mb-2"><%= t ".repair_history" %><h2>
        </div>
        <div>
          <%= link_to new_device_device_history_path(@device.id), data: {turbo_frame: :global_modal, action: "click->app#openModal"}, class: "float-right pointer-events-auto text-indigo-700" do %>
            <i class="fa-solid fa-plus mr-1 text-sm"></i>
            <span class="font-bold text-sm"><%= t ".add_new" %></span>
          <% end %>
        </div>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-3 sm:mt-0">
          <%= turbo_frame_tag :device_histories do %>
            <ul role="list">
              <%= render @device.device_histories.recent %>
            </ul>
          <% end %>
        </dd>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/modals/modal_medium" %>
