<tr class="text-gray-700 dark:text-gray-400">
  <td class="px-4 py-3 text-sm font-black"><%= user_device.device.id %></td>
  <td class="px-4 py-3 text-sm"><%= user_device.device.code %></td>
  <td class="px-4 py-3 text-sm"><%= user_device.device.name %></td>
  <td class="px-4 py-3 text-sm"><%= UserDevice.human_enum_name :status, user_device.status %></td>
  <td class="px-4 py-3 text-sm"><%= convert_date_ymd user_device&.input_date %></td>
   <td class="px-4 py-3 text-sm"><%= convert_date_ymd user_device&.output_date %></td>
  <td class="px-4 py-3 text-sm">
    <%= link_to device_path(user_device.device_id) do %>
      <i class="fa-regular fa-eye"></i>
      <%= t "shared.detail" %>
    <% end %>
  </td>
</tr>
