<% content_for :search_box do %>
  <%= render "layouts/shared/top/search_box", query: @query, url: user_devices_path, field: :device_name_or_device_code_cont, placeholder: t(".search_by") %>
<% end %>

<div class="grid grid-cols-4 gap-4 items-center">
  <div class="col-span-3">
    <h2 class="my-6 text-2xl font-semibold text-gray-700">
      <%= t ".my_devices" %>
    </h2>
  </div>
</div>
<div class="w-full overflow-hidden rounded-lg shadow-xs border">
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-800 uppercase border-b bg-gray-50">
          <th class="px-4 py-3"><%= sort_link @query, :id, t(".id") %></th>
          <th class="px-4 py-3"><%= sort_link @query, :device_code, t(".code") %></th>
          <th class="px-4 py-3"><%= sort_link @query, :device_name, t(".name") %></th>
          <th class="px-4 py-3"><%= sort_link @query, :status, t(".status") %></th>
          <th class="px-4 py-3"><%= sort_link @query, :input_date, t(".input_date") %></th>
          <th class="px-4 py-3"><%= sort_link @query, :output_date, t(".output_date") %></th>
          <th class="px-4 py-3"><%= t ".action" %></th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y">
        <%= render @user_devices %>
        <tr class="text-gray-700">
          <td class="px-4 py-3 text-sm text-right" colspan="7"><%= pagy_nav(@pagy).html_safe %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
