<tr class="text-gray-700" id="<%= dom_id company %>" is="turbo-frame">
  <td class="px-4 py-3">
    <div class="flex items-center text-sm">
      <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
        <img class="object-cover w-full h-full rounded-full" alt="" loading="lazy"
          src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"/>
        <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
      </div>
      <div>
        <p class="font-semibold"><%= company.office_info&.name %></p>
        <p class="text-xs text-gray-600">
          <%= company.office_info&.email %>
        </p>
      </div>
    </div>
  </td>
  <td class="px-4 py-3 text-sm"><%= company.office_info&.address %></td>
  <td class="px-4 py-3 text-sm"><%= company.office_info&.phone_number %></td>
  <td class="px-4 py-3 text-sm">
    <a class="hover:text-indigo-600" href="<%= company.website %>" target="blank"><%= company.website %></a>
  </td>
  <td class="px-4 py-3 text-sm w-36">
    <%= link_to edit_company_path(company), data: {turbo_frame: :global_modal, action: "click->app#openModal"}, class: "flex items-center gap-[6px] mb-1 hover:text-indigo-600" do %>
      <i class="fa-regular fa-pen-to-square"></i>
      <%= t "shared.edit" %>
    <% end %>
    <%= link_to company_path(company), class: "flex items-center gap-1 hover:text-indigo-600" do %>
      <i class="fa-regular fa-eye"></i>
      <%= t "shared.detail" %>
    <% end %>
  </td>
</tr>
