<% content_for :search_box do %>
  <%= render "layouts/shared/top/search_box", query: @query, url: companies_path, field: :office_info_name_cont, placeholder: t(".search_by") %>
<% end %>

<%= turbo_stream_from :companies %>

<div class="grid grid-cols-4 gap-4 items-center">
  <div class="col-span-3">
    <h2 class="my-6 text-2xl font-semibold text-gray-700">
      <%= t ".list_of_companies" %>
    </h2>
  </div>
  <div>
    <%= link_to new_company_path, data: {turbo_frame: :global_modal, action: "click->app#openModal"}, class: "float-right rounded-lg pointer-events-auto bg-indigo-600 px-3 py-2 text-[0.8125rem] font-semibold leading-5 text-white hover:bg-indigo-500" do %>
      <i class="fa-solid fa-plus mr-1 text-xs"></i>
      <span class="font-semibold text-xs"><%= t ".add_a_new_company" %></span>
    <% end %>
  </div>
</div>
<div class="w-full overflow-hidden rounded-lg shadow-xs border">
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50">
          <th class="px-4 py-3"><%= t ".company_info" %></th>
          <th class="px-4 py-3"><%= t ".address" %></th>
          <th class="px-4 py-3"><%= t ".phone_number" %></th>
          <th class="px-4 py-3"><%= t ".website" %></th>
          <th class="px-4 py-3"><%= t ".action" %></th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y" is="turbo-frame" id="companies">
        <%= render @companies %>
        <tr class="text-gray-700">
          <td class="px-4 py-3 text-sm text-right" colspan="6"><%= pagy_nav(@pagy).html_safe %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= render "layouts/modals/modal_medium" %>
