<div class="lg:flex lg:items-center lg:justify-between">
  <div class="mt-4">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight"><%= @company.office_info&.name %></h2>
    <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap sm:space-x-6">
      <div class="mt-2 flex items-center text-sm text-gray-500"><%= @company.website %></div>
      <div class="mt-2 flex items-center text-sm text-gray-500"><%= @company.office_info&.email %></div>
      <div class="mt-2 flex items-center text-sm text-gray-500"><%= @company.office_info&.address %></div>
      <div class="mt-2 flex items-center text-sm text-gray-500"><%= @company.office_info&.phone_number %></div>
    </div>
  </div>
</div>
<div class="my-4 text-gray-500">
  <%= @company.office_info&.information %>
</div>
<div class="mt-5 flex">
  <span class="sm:ml-3">
    <%= link_to t(".see_list_of_office"), company_offices_path(@company), class: "inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
  </span>
</div>
