<% if @sub_devices.present? %>
  <%= form_with model: device, url: add_sub_devices_device_path, class: "bg-white p-6" do |f| %>
    <div class="space-y-6">
      <div class="border-b border-gray-900/10">
        <div class="overflow-y-auto h-[400px]">
          <table class="w-full whitespace-no-wrap">
            <thead>
              <tr class="sticky top-0 text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50">
                <th class="px-4 py-3"><%= t ".name" %></th>
                <th class="px-4 py-3"><%= t ".code" %></th>
                <th class="px-4 py-3"><%= t ".status" %></th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y" id="sub_devices_form"></tbody>
          </table>
          <%= turbo_frame_tag :sub_devices_pagination, src: new_sub_devices_device_path(page: pagy.next, format: :turbo_stream) if pagy.next.present? %>
        </div>
      </div>
    <div>
    <div class="mt-6 flex items-center justify-start gap-x-6">
      <%= f.submit t(".add_related_devices"), class: "cursor-pointer rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    <div>
  <% end %>
<% else %>
  <div class="px-6 py-6">
    <div class="text-lg font-medium">
      <%= t ".no_related_devices" %>
    </div>
  </div>
<% end %>
