<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Forgot your password?
        </h1>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: "space-y-4 md:space-y-6"}) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>
          <div>
            <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "name@flowbite.com", required: true %>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-start"></div>
            <%= link_to "Sign in", new_session_path(resource_name), class: "text-sm font-medium text-gray-900 hover:underline dark:text-gray-500" %>
          </div>
          <%= f.submit "Send me reset password instructions", class: "w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-primary-800" %>
        <% end %>
        <% if devise_mapping.omniauthable? %>
          <div class="flex justify-center items-center">
            <span class="w-full border border-gray-300"></span>
            <span class="px-4">Or</span>
            <span class="w-full border border-gray-300"></span>
          </div>
          <%= button_to omniauth_authorize_path(resource_name, :google_oauth2), method: :post, data: { turbo: false }, 
            class: "w-full flex items-center justify-center flex-none px-3 py-2 md:px-4 md:py-3 border-2 rounded-lg font-medium border-gray-300 relative focus:ring-4" do %>
            <span class="absolute left-4">
              <i class="fa-brands fa-google"></i>
            </span>
            <span>Sign in with Google</span>
          <% end %>
        <% end %>
        <% if devise_mapping.registerable? && controller_name != 'registrations' %>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Don’t have an account yet?
            <%= link_to "Sign up", new_registration_path(resource_name), class: "font-medium text-primary-600 hover:underline dark:text-primary-500" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>

