<!DOCTYPE html>
<html x-data="data()">
  <head>
    <%= render "layouts/application/head" %>
  </head>
  <body>
    <div class="flex h-screen bg-gray-50" :class="{ 'overflow-hidden': isSideMenuOpen }" >
      <%= render "layouts/shared/navigation/navigations" %>
      <div class="flex flex-col flex-1 w-full">
        <header class="z-10 py-4 border-b-2 border-slate-100 bg-white">
          <%= render "layouts/shared/top/topbar" %>
        </header>
        <main class="h-full overflow-y-auto ">
          <div class="py-1 my-1 mx-7 grid">
            <%= yield %>
          </div>
        </main>
      </div>
    </div>
    <div id="flash" class="fixed z-[999] top-[10%] left-[50%] translate-x-[-50%] flex flex-col items-center gap-2">
      <%= render "layouts/flash" %>
    </div>
    <div id="modal">
      <%= render "layouts/modals/big" %>
    </div>
  </body>
  <%= render "layouts/javacripts" %>
</html>
