<!DOCTYPE html>
<html x-data="data()">
  <head>
    <%= render "layouts/application/head" %>
  </head>
  <body>
    <div class="flex h-screen bg-gray-50" :class="{ 'overflow-hidden': isSideMenuOpen }" >
      <%= render "layouts/shared/navigation/navigations" %>
      <div class="flex flex-col flex-1 w-full">
        <header class="z-10 py-4 border-b-2 border-slate-100 bg-white dark:bg-gray-800">
          <%= render "layouts/shared/top/topbar" %>
        </header>
        <main class="h-full overflow-y-auto ">
          <div class="container py-1 my-1 mx-auto grid">
            <%= render "layouts/flash" %>
            <%= yield %>
          </div>
        </main>
      </div>
    </div>
  </body>
  <%= render "layouts/javacripts" %>
</html>
